<div class="containter-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>Calendar Generator!</h1>
        </div>

        <div class="col-lg-4" >
            <a routerLink="">Home</a>
        </div>

        <div class="col-lg-2">
            <a href="https://github.com/polileu/CalGen" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/eduardo-poli-187331207/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</div>
