<div class="body">Calendario 2023</div>
<div class="meses">
    <div>
        <table cellspacing="0" cellspadding="0">
            <thead>
                <tr>
                    <td colspan="7" class="header">JANEIRO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="feriado">1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                </tr>
                <tr>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                    <td class="no-day">9</td>
                    <td class="no-day">10</td>
                    <td class="no-day">11</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">1 - SÁB: ano novo, dia da confraternização universal</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">FEVEREIRO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">29</td>
                    <td class="no-day">30</td>
                    <td class="no-day">31</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>20</td>
                    <td class="feriado">21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                </tr>
                <tr>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                    <td class="no-day">9</td>
                    <td class="no-day">10</td>
                    <td class="no-day">11</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">
                        21 - TER: Carnaval
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">MARÇO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">26</td>
                    <td class="no-day">27</td>
                    <td class="no-day">28</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td class="no-day">1</td>
                </tr>
                <tr>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">ABRIL</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">26</td>
                    <td class="no-day">27</td>
                    <td class="no-day">28</td>
                    <td class="no-day">29</td>
                    <td class="no-day">30</td>
                    <td class="no-day">31</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td class="feriado">7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td class="feriado">21</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado">15 - SEX: sexta feira santa <br> 21 - SEX: tiradentes </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">MAIO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>    
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">30</td>
                    <td class="feriado">1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                </tr>
                <tr>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                    <td class="no-day">9</td>
                    <td class="no-day">10</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">1 - SEG: Dia do trabalho</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">JUNHO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">28</td>
                    <td class="no-day">29</td>
                    <td class="no-day">30</td>
                    <td class="no-day">31</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td class="feriado">8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td class="no-day">1</td>
                </tr>
                <tr>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">
                        8 - QUI: Corpus Christ
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">JULHO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">25</td>
                    <td class="no-day">26</td>
                    <td class="no-day">27</td>
                    <td class="no-day">28</td>
                    <td class="no-day">29</td>
                    <td class="no-day">30</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>31</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">AGOSTO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">30</td>
                    <td class="no-day">31</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                </tr>
                <tr>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                    <td class="no-day">9</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">SETEMBRO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">27</td>
                    <td class="no-day">28</td>
                    <td class="no-day">29</td>
                    <td class="no-day">30</td>
                    <td class="no-day">31</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td class="feriado">7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">
                        7 - QUI: dia da independência do Brasil
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">OUTUBRO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td class="feriado">12</td>
                    <td>13</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td class="feriado">28</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                </tr>
                <tr>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                    <td class="no-day">9</td>
                    <td class="no-day">10</td>
                    <td class="no-day">11</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">
                        12 - QUI: nossa senhora aparecida <br>
                        28 - SÁB: dia do servidor publico
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">NOVEMBRO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">29</td>
                    <td class="no-day">30</td>
                    <td class="no-day">31</td>
                    <td>1</td>
                    <td class="feriado">2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td class="feriado">15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                </tr>
                <tr>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                    <td class="no-day">7</td>
                    <td class="no-day">8</td>
                    <td class="no-day">9</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">
                        2 - QUI: finados <br>
                        15 - QUA: proclamação da republica
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td colspan="7" class="header">DEZEMBRO</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="semana">dom</td>
                    <td class="semana">seg</td>
                    <td class="semana">ter</td>
                    <td class="semana">qua</td>
                    <td class="semana">qui</td>
                    <td class="semana">sex</td>
                    <td class="semana">sab</td>
                </tr>
                <tr>
                    <td class="no-day">26</td>
                    <td class="no-day">27</td>
                    <td class="no-day">28</td>
                    <td class="no-day">29</td>
                    <td class="no-day">30</td>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td class="feriado">25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td class="no-day">1</td>
                    <td class="no-day">2</td>
                    <td class="no-day">3</td>
                    <td class="no-day">4</td>
                    <td class="no-day">5</td>
                    <td class="no-day">6</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="feriado-footer">
                        25 - SEG: natal
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>